header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px;
	border-bottom: 1px solid var(--light-grey);
}

header img {
	height: 50px;
}

@media (min-width: 650px) {
	header {
		justify-content: start;
		gap: 10px;
	}
}
